<div class="container-custom">
  <h4>FAQ #<%= @faq.id %></h4>
  <div class="faq">
    <p class="faq_question">
      <%= @faq.question %>
    </p>
    <p class="faq_answer">
      <%= @faq.answer %>
    </p>
  </div>
</div>
