
<div class="container-custom">
<h4><%= link_to "Users report", admin_users_path %></h4>
<h4><%= link_to "Questions report", admin_question_posts_path %></h4>
<h4><%= link_to "Shared experiences report", admin_experience_posts_path %></h4>
<h4><%= link_to "Job post report", admin_job_posts_path %></h4>
</div>

