<% if @response == 'Success'%>
  $('.request_account_response_div').html("<div class='alert-gan alert-success-gan'>Thanks for signing up. We have saved your details for verification</div>");
<% else %>
  <% if @response.class == Array %>
    $('.request_account_response_div').html("<div class='alert-gan alert-danger-gan'>We have faced these error(s) while creating your account" +
      "<ul class='active-record-errors'>" +
      "<% @response.each do |message| %>" +
      "<li class='active-record-error'><%= message %></li>" +
      "<% end %>" +
      "</ul>"+
      "</div>")
  <% elsif @response.class == String %>
  $('.request_account_response_div').html("<div class='alert-gan alert-danger-gan'><%= @response %>");
  <% end %>
<% end %>
