<% if model.errors.any? %>
  <div class="errors alert alert-danger">
    <p>The details could not be saved due to the following errors:</p>
    <ul class="active-record-errors">
      <% model.errors.full_messages.each do |message| %>
      <li class="active-record-error"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
