<% if @response == 'Password Updated !'%>
  $('.password_update_response_div').html("<div class='alert-gan alert-success-gan'>Password Updated !</div>");
<% else %>
  <% if @response.class == Array %>
    $('.password_update_response_div').html("<div class='alert-gan alert-danger-gan'>We have faced these error(s) while updating password" +
      "<ul class='active-record-errors'>" +
      "<% @response.each do |message| %>" +
      "<li class='active-record-error'><%= message %></li>" +
      "<% end %>" +
      "</ul>"+
      "</div>")
  <% elsif @response.class == String %>
  $('.password_update_response_div').html("<div class='alert-gan alert-danger-gan'><%= @response %>");
  <% end %>
<% end %>
