/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self
*/

body
{
	margin: 0px 0px 150px 0px;
	padding: 0;
	font-family: "Work Sans";
	background-image: url("bg.jpg");
	background-size: 1440px 960px;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

header
{
	background-color: white;
	position: fixed;
	right: 0;
	left: 0;
	top : 0;
	border-bottom: 1px solid rgba(0,0,0,0.75);
	z-index: 1000;
}

footer
{
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
	background-color: white;
	border-top: 1px solid rgba(0,0,0,0.75);
	padding-bottom: 10px;
}

h1, h2, h3, h4 h5, h6, h7, input, p, span, div, pre
{
	font-weight: 300;
	font-family: inherit;
}

pre
{
	background: transparent;
	border: 0px;
	margin: 0;
	padding: 0;
	font-size: 18px;
}
a
{
	font-weight: 400;
}

a:hover
{
	text-decoration: none;
}

::selection
{
	color: white;
	background-color: rgb(46,200,102);
}

.content
{
	width: 80%;
	margin: 0 auto;
}

.alert
{
	background-color: rgb(222,39,40);
	color: white;
}

.app_heading
{
	font-size: 32px;
	color: black;
	font-weight: 300;
}

header .content .left_content
{
	float: left;
}

header .content .right_content
{
	float: right;
}

footer .content nav
{
	margin-top: 20px;
}

footer .content nav a
{
	margin-right: 20px;
}

.body_content
{
	width: 80%;
	margin: 10px auto;
	padding: 45px 10px 10px 10px;
}

.page_top_level_div
{
	background-color: rgba(255,255,255,0.5);
	margin: 0;
	padding: 0px 20px 20px 20px;
}

.top_div
{
	background-color: rgb(46,200,102);
	padding: 0px 10px;
}

.page_top_level_div
{
	margin-top: -20px;
}

/* clearfix shit for parents of floating elements */
.clearfix:after
{
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

/* An extended bootstrap option for green button */
.btn-green
{
	background-color: rgb(46,200,102);
	color: white;
	border: 1px solid rgb(46,200,102);
}

.btn-green:hover
{
	transition: background-color 0.5s ease;
	color: rgb(46,200,102);
	background-color: white;
}

/* If there is a div holding form or a form itself, give it this class
for some common properties
*/
.form_div
{
	-webkit-box-shadow: 0px 0px 8px 5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 8px 5px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 8px 5px rgba(0,0,0,0.75);
	margin: 25px auto;
	background-color: white;
	padding: 25px;
	color: black;
}

input
{
	margin: 20px 0px;
}

.loading
{
	width: 32px;
	height: 32px;
}

/* Added this to enable dropdown on hover */
.dropdown:hover .dropdown-menu
{
	display: block;
	opacity: 1;
}

/* There is a little margin between button and drop down options due to which
the drop down menu sometimes disappers. This margin will stick drop down
options with the button (UI hack)
*/
.navigation_button
{
	margin-top: 8px;
	margin-bottom: -2px;
}


/* Apply property to elements via simple class names ;) */
.float_right
{
	float: right;
}

.text_align_right
{
	text-align: right;
}

.inline_block
{
	display: inline-block;
}
