/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self
*/

*
{
	padding: 0;
	margin: 0;
}

::selection
{
	color: #00bfa9;
	background-color: rgba(0,0,0,0.05);
}

body
{
	padding: 0;
	padding-top: 50px;
	font-family: 'Work Sans';
}

a:link, a:visited, a:hover, a:active
{
	text-decoration: none;
	color: inherit;
}

a:hover
{
	color: #00bfa9;
}

label
{
	font-weight: 300;
}

.background-seagreen
{
	background-color: #00bfa9 !important;
	border: 1px solid #00bfa9 !important;
	color: white !important;
	transition: background-color 0.5s ease;
}

.background-seagreen:hover
{
	color: #00bfa9 !important;
	background-color: white !important;
}

.foreground-seagreen
{
	color: #00bfa9 !important;
	border: 1px solid #00bfa9 !important;
	background-color: white !important;
	transition: background-color 0.5s ease;
}

.foreground-seagreen:hover
{
	background-color: #00bfa9 !important;
	color: white !important;
}

.transparent-bg
{
	background-color: transparent !important;
	border: 0px solid white !important;
}

header
{
	font-size:20px;
}

header .navbar-left
{
	display: block;
	cursor: pointer;
}

header .navbar-left span
{
	margin-left: 10px;
	font-size: 24px;
	vertical-align: bottom;
	color: white;
}

header .navbar-default
{
	background: black;
	border-bottom: 1px solid white;
}

.body_content
{
	/* main body height is 100% of viewport height - (header height + footer height) */
	min-height: calc(100vh - (50px + 120px));
}

@media (max-width: 400px)
{
	header .navbar-left
	{
		font-size: 24px;
	}
}

@media (max-width: 320px)
{
	header .navbar-default
	{
		font-size: 16px;
	}
}

.top_logo
{
	margin-top: 10px;
}

footer
{
	text-align: center;
	padding-top: 20px;
	background-color: #000;
	color: white;
}

footer .scrollup
{
	float: right;
	display: inline-block;
}


footer ul
{
	margin-top: 5px;
	margin-right: 35px;
}

footer li
{
	font-size: 16px;
	list-style: none;
	font-weight: 300;
	margin: 0px 5px;
	display: inline;
}

footer p
{
	font-family: inherit;
	font-size: 14px;
}

.footer_icons
{
	display: inline-block;
	width: 32px;
	height: 32px;
}

img.small_icon
{
	border-bottom: 2px solid black;
}

img.small_icon:hover
{
	border-bottom: 2px solid #00bfa9;
}

.small_icon
{
	width: 32px;
	height: 32px;
}

.footer_copyright_stamp
{
	margin-left: 20px;
}

.separator
{
	margin: 0px 2px;
}

@media(max-width: 620px)
{
	footer
	{
		height: 150px;
	}
}

@media(max-width: 400px)
{
	footer
	{
		height: 170px;
	}
}

@media(max-width: 300px)
{
	footer
	{
		height: 180px;
	}
}
