/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self
*= require bootstrap
*= require bootstrap-datetimepicker
*/

*
{
	padding: 0;
	margin: 0;
}

::selection
{
	color: #00bfa9;
	background-color: rgba(0,0,0,0.05);
}

body
{
	padding: 0;
	padding-top: 50px;
	font-family: 'Work Sans';
}

a:link, a:visited, a:hover, a:active
{
	text-decoration: none;
	color: inherit;
}

a:hover
{
	color: #00bfa9;
}

.user-link a:link, .user-link a:visited, .user-link a:hover, .user-link a:active
{
	color: #337ab7;
}

.user-link a:hover
{
	color: #00bfa9;
}

label
{
	font-weight: 300;
}

.background-seagreen
{
	background-color: #00bfa9 !important;
	border: 1px solid #00bfa9 !important;
	color: white !important;
	transition: background-color 0.5s ease;
}

.background-seagreen:hover
{
	color: #00bfa9 !important;
	background-color: white !important;
}

.foreground-seagreen
{
	color: #00bfa9 !important;
	border: 1px solid #00bfa9 !important;
	background-color: white !important;
	transition: background-color 0.5s ease;
}

.foreground-seagreen:hover
{
	background-color: #00bfa9 !important;
	color: white !important;
}

.transparent-bg
{
	background-color: transparent !important;
	border: 0px solid white !important;
}

.dropdown-menu
{
	background-color: #fff !important;
	color: #00bfa9 !important;
}

.dropdown-menu>li>a
{
	color: #black !important;
}

.dropdown-menu>li>a:hover
{
	background-color: #00bfa9 !important;
	color: #000 !important;
}

header
{
	font-size:20px;
}

header .navbar-left
{
	display: block;
	cursor: pointer;
}

header .navbar-left span
{
	margin-left: 10px;
	font-size: 24px;
	vertical-align: bottom;
	color: white;
}

header .navbar-default
{
	background: black;
	border-bottom: 1px solid white;
}

.body_content
{
	/* main body height is 100% of viewport height - (header height + footer height) */
	min-height: calc(100vh - (50px + 120px));
}

.transparent-panel
{
	width: 900px;
	color: #34495e;
	border: 1px solid #d4d4d4;
	border-radius: 2px;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
	padding: 10px;
	margin: 10px auto;
}

.transparent-panel-full-width
{
	width: 90%;
	color: #34495e;
	border: 1px solid #d4d4d4;
	border-radius: 2px;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
	padding: 10px;
	margin: 10px auto;
}

.active-record-error
{
	margin-left: 25px;
}

.multiline_text
{
	white-space: pre-wrap;
	word-wrap: break-word;
}

.input-group input
{
	border-left: 0px solid transparent;
}

.input-group .input-group-addon
{
	background: white;
	border: 1px solid #00bfa9;
	border-right: 0px solid transparent;
}

@media (max-width: 767px)
{
	header .navbar-left{
		margin-left: 10px;
	}
}

@media (max-width: 400px)
{
	header .navbar-left span
	{
		font-size: 20px;
	}
}

@media (max-width: 370px)
{
	header .navbar-left span
	{
		font-size: 18px;
	}
	header .navbar-default
	{
		font-size: 16px;
	}
}
@media (max-width: 340px)
{
	header .navbar-left span
	{
		font-size: 16px;
	}
	header .navbar-default
	{
		font-size: 15px;
	}
}
@media (max-width: 315px)
{
	header .navbar-left span
	{
		font-size: 14px;
	}
	header .navbar-default
	{
		font-size: 14px;
	}
}
@media (max-width: 296px)
{
	header .navbar-left span
	{
		font-size: 13px;
	}
	header .navbar-default
	{
		font-size: 13px;
	}
}

footer
{
	text-align: center;
	padding-top: 20px;
	background-color: #000;
	color: white;
	height: 150px;
}

footer .scrollup
{
	float: right;
	display: inline-block;
}


footer ul
{
	margin-top: 5px;
	margin-right: 35px;
}

footer li
{
	font-size: 16px;
	list-style: none;
	font-weight: 300;
	margin: 0px 5px;
	display: inline;
}

footer p
{
	font-family: inherit;
	font-size: 14px;
}

.footer_icons
{
	display: inline-block;
	width: 32px;
	height: 32px;
}

.top_logo
{
	margin-top: 10px;
}

img.small_icon_social
{
	border-bottom: 2px solid black;
}

img.small_icon_social:hover
{
	border-bottom: 2px solid #00bfa9;
}

.small_icon
{
	width: 32px;
	height: 32px;
}

.footer_copyright_stamp
{
	margin-left: 20px;
}

.separator
{
	margin: 0px 2px;
}

.modal-title
{
	text-align: center;
	font-size: 18px;
}

table tbody tr:nth-child(odd)
{
	background-color: rgba(0, 191, 169, 0.10);
}

table tbody tr:nth-child(odd):hover
{
	background-color: rgba(0, 191, 169, 0.20);
}

table tbody tr:nth-child(even)
{
	background-color: white;
}

table tbody tr:nth-child(even):hover
{
	background-color: rgb(248, 248, 248);
}

@media(max-width: 620px)
{
	footer
	{
		height: 185px;
	}
}

@media(max-width: 400px)
{
	footer
	{
		height: 190px;
	}
}
@media(max-width: 345px)
{
	footer
	{
		height: 195px;
	}
}

@media(max-width: 300px)
{
	footer
	{
		height: 220px;
	}
}

@media(max-width: 1000px)
{
	.transparent-panel
	{
		width: 760px;
	}

}

@media(max-width: 990px)
{
	.transparent-panel
	{
		width: 660px;
	}

}

@media(max-width: 780px)
{
	.transparent-panel
	{
		width: 570px;
	}
}


@media(max-width: 650px)
{
	.transparent-panel
	{
		width: 470px;
	}
}


@media(max-width: 550px)
{
	.transparent-panel
	{
		width: 375px;
	}
}

@media(max-width: 450px)
{
	.transparent-panel
	{
		width: 275px;
	}
}

@media(max-width: 350px)
{
	.transparent-panel
	{
		width: 225px;
	}
}
