// Place all the styles related to the query controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.container-custom
{
	width: 940px;
	padding: 0 15px;
	margin: 0px auto;
	background-color: rgb(245,245,245);
	border-radius: 10px;
}

.create_udpate_query_div
{
	margin: 80px 0 0;
	font-size: 18px;
	color: #685E6D;
}

.create_udpate_query_div h1
{
	padding-top: 20px;
	font-size: 35px;
	margin-bottom: 20px;
}

.create_udpate_query_div .check
{
	font-family: inherit;
	font-size: 15px;
	margin-bottom: 10px;
}

.btn-submit{
	margin-bottom: 30px;
}

.view_query_chain
{
	margin: 50px 0;
	color: #685E6D;
	font-size: 18px;
}

.dark_blue{
	background-color: #83af9b;
}

.side_nav.open
{
	transform: translate(0,0);
}

.side_nav
{
	width: 300px;
	height: 100%;
	z-index: 1;
	position: absolute;
	transform: translate(-300px, 0);
	transition: transform 0.3s ease;
}

.separator_hr
{
	border-bottom: 1px solid #00bfa9;
	width: 80%;
	margin: 0 auto;
}

.edit_history
{
	margin: 10px 0px;
}

@media(max-width: 1000px)
{
	.container-custom
	{
		width: 800px;
	}

}

@media(max-width: 990px)
{
	.container-custom
	{
		width: 700px;
	}

}

@media(max-width: 780px)
{
	.container-custom
	{
		width: 600px;
	}

}

@media(max-width: 650px)
{
	.container-custom
	{
		width: 500px;
	}

}

@media(max-width: 550px)
{
	.container-custom
	{
		width: 400px;
	}

	.create_udpate_query_div
	{
		font-size: 16px;
	}

	.create_udpate_query_div h1
	{
		font-size: 33px;
	}
}

@media(max-width: 450px)
{
	.container-custom
	{
		width: 300px;
	}

	.create_udpate_query_div
	{
		font-size: 14px;
	}

	.create_udpate_query_div h1
	{
		font-size: 30px;
	}
}

@media(max-width: 350px)
{
	.container-custom
	{
		width: 250px;
	}

	.create_udpate_query_div
	{
		font-size: 12px;
	}

	.create_udpate_query_div h1
	{
		font-size: 25px;
	}

	.create_udpate_query_div form
	{
		margin-top: -30px;
	}
}
