// Place all the styles related to the query controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.container-custom
{
	width: 940px;
	padding: 0 15px;
	margin: 0px auto;
	background-color: rgb(245,245,245);
	border-radius: 10px;
}

.create_udpate_query_div
{
	margin: 80px 0 0;
	font-size: 18px;
	color: #685E6D;
}

.create_udpate_query_div h1
{
	padding-top: 20px;
	font-size: 35px;
	margin-bottom: 20px;
}

.create_udpate_query_div .check
{
	font-family: inherit;
	font-size: 15px;
	margin-bottom: 10px;
}

.btn-submit{
	margin-bottom: 30px;
}

.view_query_chain
{
	margin: 50px 0;
	color: #685E6D;
	font-size: 18px;
}

.dark_blue
{
	background-color: #83af9b;
}

.separator_hr
{
	border-bottom: 1px solid #00bfa9;
	width: 80%;
	margin: 0 auto;
}
.user-tags
{
	margin-bottom: 10px;
}

.activity_comment
{
	.user-post
	{
		margin-top: -10px;
		width: 90%;
	}

	.user-name
	{
		margin-top: 10px;
		margin-left: 5px;
	}
	.user-time
	{
		font-size: 15px;
		margin-top: 14px;
		margin-right: 28px;
	}
}

#edit_history_modal
{
	.loading
	{
		width: 64px;
		height: 64px;
	}
	.modal-content
	{
		background-color: #edeaea;
		border-radius: 0;
		border: 5px solid #00bfa9;
	}
	.modal-button
	{
		margin-top: -40px;
	}
	.separator_hr
	{
		width: 100%;
	}
}


@media(max-width: 1000px)
{
	.container-custom
	{
		width: 800px;
	}

}

@media(max-width: 990px)
{
	.container-custom
	{
		width: 700px;
	}

}

@media(max-width: 900px)
{
	.activity_comment
	{
		.user-time
		{
			margin-right: 20px;
		}
	}
	
}

@media(max-width: 850px)
{
	.activity_comment
	{
		.user-post
		{
			width: 88%;
		}
	}
}

@media(max-width: 780px)
{
	.container-custom
	{
		width: 600px;
	}

}

@media(max-width: 750px)
{
	.activity_comment
	{
		.user-post
		{
			width: 86%;
		}
	}
}

@media(max-width: 650px)
{
	.container-custom
	{
		width: 500px;
	}
	.activity_comment
	{
		.user-post
		{
			width: 83%;
		}
	}

}

@media(max-width: 620px)
{
	.activity_comment
	{
		.user-post
		{
			width: 83%;
		}
	}

}

@media(max-width: 600px)
{
	.activity_comment
	{
		.user-name
		{
			font-size: 18px;
		}
		.user-time
		{
			font-size: 13px;
		}
	}
}

@media(max-width: 550px)
{
	.container-custom
	{
		width: 400px;
	}

	.activity_comment
	{
		.user-time,.user-name
		{
			display: inline-block;
		}

		.user-time
		{
			float: right !important;
			margin-right: 5px;
		}

		.user-name
		{
			margin-left: 10px;
			font-size: 15px;
		}
	}

	.create_udpate_query_div
	{
		font-size: 16px;
	}

	.create_udpate_query_div h1
	{
		font-size: 33px;
	}
}

@media(max-width: 500px)
{
	.activity_comment
	{
		.comment-img
		{
			height: 50px;
			width: 50px;
		}
		.user-time
		{
			font-size: 11px;
		}

		.user-name
		{
			font-size: 14px;
		}

		.user-post
		{
			width: 83%;
		}
	}
}

@media(max-width: 450px)
{
	.container-custom
	{
		width: 300px;
	}

	.activity_comment
	{
		.comment-img
		{
			height: 35px;
			width: 35px;
			margin-bottom: 10px;
		}
		.user-post
		{
			width: 86%;
			font-size: 13px;
		}
	}

	.create_udpate_query_div
	{
		font-size: 14px;
	}

	.create_udpate_query_div h1
	{
		font-size: 30px;
	}
}

@media(max-width: 420px)
{
	.activity_comment
	{
		.comment-img
		{
			display: none;
		}
		.user-name{
			margin-left: 0;
		}
		.user-post
		{
			width: 100%;
		}
	}
}

@media(max-width: 350px)
{
	.container-custom
	{
		width: 250px;
	}

	.activity_comment
	{
		
		.user-name, .user-time
		{
			display: block !important;
		}

		.user-time
		{
			float: left !important;
			font-size: 12px;
			margin-top: -5px;
		}
	}

	.create_udpate_query_div
	{
		font-size: 12px;
	}

	.create_udpate_query_div h1
	{
		font-size: 25px;
	}

	.create_udpate_query_div form
	{
		margin-top: -30px;
	}
}
