// Place all the styles related to the query controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit_history
{
	margin-left: 20px;
	color: gray;
}

.modal_question
{
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

#edit_history_modal .modal-dialog
{
	width: 80%;
}

.container-custom
{
	width: 940px;
	padding: 0 15px;
	margin: 0px auto;
	background-color: rgb(245,245,245);
	border-radius: 10px;
}

.create_udpate_query_div
{
	margin: 80px 0;
	font-size: 18px;
}

.create_udpate_query_div h1
{
	font-size: 35px;
	margin-bottom: 20px;
}

.create_udpate_query_div .check
{
	font-family: inherit;
	font-size: 15px;
	margin-bottom: 10px;
}


@media(max-width: 1000px)
{
	.container-custom
	{
		width: 800px;
	}

}

@media(max-width: 990px)
{
	.container-custom
	{
		width: 700px;
	}

}

@media(max-width: 780px)
{
	.container-custom
	{
		width: 600px;
	}

}

@media(max-width: 650px)
{
	.container-custom
	{
		width: 500px;
	}

}

@media(max-width: 550px)
{
	.container-custom
	{
		width: 400px;
	}

	.create_udpate_query_div
	{
		margin: 80px 0;
		font-size: 16px;
	}

	.create_udpate_query_div h1
	{
		font-size: 33px;
	}
}

@media(max-width: 450px)
{
	.container-custom
	{
		width: 300px;
	}

	.create_udpate_query_div
	{
		margin: 80px 0;
		font-size: 14px;
	}

	.create_udpate_query_div h1
	{
		font-size: 30px;
	}
}

@media(max-width: 350px)
{
	.container-custom
	{
		width: 250px;
	}

	.create_udpate_query_div
	{
		margin: 80px 0;
		font-size: 12px;
	}

	.create_udpate_query_div h1
	{
		font-size: 25px;
	}

	.create_udpate_query_div form
	{
		margin-top: -30px;
	}
}
