// Place all the styles related to the query controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit_history
{
	margin-left: 20px;
	color: gray;
}

.modal_question
{
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

#edit_history_modal .modal-dialog
{
	width: 80%;
}
