// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-custom
{
	width: 940px;
	padding: 0px 15px;
	margin-right: 0px auto;
}

.first_sign_in
{
	margin-top: 40px;
}

.first_sign_in_text
{
	color: #685E6D;
	border: 2px solid #00bfa9;
	-webkit-box-shadow: 6px 8px 15px 1px rgba(104,94,109,0.7);
	-moz-box-shadow: 6px 8px 15px 1px rgba(104,94,109,0.7);
	box-shadow: 6px 8px 15px 1px rgba(104,94,109,0.7);
	width: 100%;
	padding: 20px;
	font-size: 15px;
	margin-bottom: 50px;
}

.first_sign_in h1
{
	font-size: 25px;
}

.first_sign_in_text ul li
{
	margin-left: 20px;
}

.welcome_text
{
	color: #00bfa9;
}

.activity_question
{
	background-color: rgb(245, 245, 245);
	border-radius: 10px;
	padding: 20px;
	margin: 25px 0px;
}


.view_post, .edit_post
{
	display: inline-block;
	margin: 10px;
	font-size: 15px;
	color: #00bfa9 !important;
}

.activity p, .activity p
{
	font-size: 22px;
	display: inline;
}

.activity img, .activity img
{
	border: 2px solid #00bfa9;
	background-color: #685E6D;
	padding: 5px;
	width: 64px;
	height: 64px;
	z-index: 100;
}

.left_div,.right_div
{
	display: inline;
}

.user-time
{
	font-size: 18px;
	float: right;
	font-weight: 300;
	color: #685E6D;
}

.user-post
{
	font-size: 16px;
	white-space: pre-wrap;
	display: inline-block;
	background-color: rgba(240,240,240,0.7);
	padding: 10px;
	border-radius: 10px;
	margin-top: -10px;
	width: 100%;
}

.user-time
{
	margin-left: 10px;
}


.main
{
	margin: 80px 0;
	color: #685E6D;
	font-size: 18px;
}

.main h1
{
	font-size: 35px;
	margin-bottom: 60px;
}

.main .form-control
{
	color: #00bfa9;
	border:2px solid #00bfa9;
	border-radius: 0;
}

.main .btn-update
{
	width: 200px;
	margin-top:30px;
	font-size: 17px;
	color: #fff;
	background-color: #00bfa9;
	border: 5px solid #00bfa9;
	border-radius: 0;
	text-align: center;
}

.main .btn-update:hover
{
	width: 200px;
	margin-top:30px;
	font-size: 17px;
	color: #00bfa9;
	background-color: #fff;
	border: 5px solid #00bfa9;
	border-radius: 0;
	text-align: center;
}

@media(max-width: 1000px)
{
	.container-custom
	{
		width: 800px;
	}

}

@media(max-width: 990px)
{
	.container-custom
	{
		width: 700px;
	}

}

@media(max-width: 780px)
{
	.container-custom
	{
		width: 600px;
	}

}

@media(max-width: 650px)
{
	.container-custom
	{
		width: 500px;
	}

}

@media(max-width: 550px)
{
	.container-custom
	{
		width: 400px;
	}

	.main
	{
		margin: 80px 0;
		font-size: 16px;
	}

	.main h1
	{
		font-size: 33px;
	}

	.main .btn-update
	{
		font-size: 16px;
	}

	.main .btn-update:hover
	{
		font-size: 16px;
	}

}

@media(max-width: 450px)
{
	.container-custom
	{
		width: 300px;
	}

	.main
	{
		margin: 80px 0;
		font-size: 14px;
	}

	.main h1
	{
		font-size: 30px;
	}

	.main .btn-update
	{
		width: 100%;
		font-size: 14px;
	}

	.main .btn-update:hover
	{
		width: 100%;
		font-size: 14px;
	}

}

@media(max-width: 350px)
{
	.container-custom
	{
		width: 250px;
	}

	.main
	{
		margin: 80px 0;
		font-size: 12px;
	}

	.main h1
	{
		font-size: 25px;
	}

	.main form
	{
		margin-top: -30px;
	}

	.main .btn-update
	{
		width: 100%;
		font-size: 13px;
	}

	.main .btn-update:hover
	{
		width: 100%;
		font-size: 13px;
	}

}
