// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.team_member
{
  margin-bottom: 25px;
  background-color: rgb(235,235,235);
  padding: 10px;
  border-radius: 10px;
  .left-div
  {
    display: inline-block;
    .display_pic
    {
      display: inline-block;
      img
      {
        border-radius: 50%;
        margin: 15px;
        padding: 10px;
        border: 2px solid #00bfa9;
        background-color: #685E6D;
        width: 128px;
        height: 128px;
      }
    }
  }

  .right-div
  {
    display: inline-block;
    width: 80%;
    float: right;
    .work_info, .designation,
    {
      word-wrap: break-word;
      font-weight: 600;
      font-size: 18px;
    }

    .about
    {
      word-wrap: break-word;
      line-height: 2;
    }
  }
}

